bin/apache
bin/nginx
bin/mariadb
bin/mysql
bin/postgresql
bin/mongodb
bin/redis
bin/php
bin/node
bin/java
bin/ruby
bin/flutter
bin/go

bin/heidisql/tabs.ini
bin/heidisql/Backups/*

bin/laragon/laragon.log

bin/sendmail/output/*

bin/notepad++/config.xml
bin/notepad++/langs.xml
bin/notepad++/session.xml
bin/notepad++/stylers.xml
bin/notepad++/plugins/Config/converter.ini

data

etc/apache2/sites-enabled
etc/nginx/*
!etc/nginx/alias
!etc/nginx/php_upstream.conf
etc/ssl/*
!etc/ssl/cacert.pem

tmp

usr/tpl
usr/go

www/*
!www/index.php
